.product {
  display: flex;
  background-color: #fff;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  max-height: 400px;
  min-width: min-content;
}
.product:hover {
  transform: scale(1.01);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  background-color: #f1f1f1;
}
.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}

.product > button {
  background: rgba(9, 9, 121, 1) 0%;
  color: #fff;
  border: 1px solid black;
  margin-top: 10px;
  outline: none;
}
.product > button:hover {
  transform: scale(1.1);
  background: black;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.product__info {
  text-align: left;
  height: 100px;
  max-width: fit-content;
  margin-bottom: 15px;
}
